.container-ecran-bas{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.25s ease;
}

.container-app{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: #D0D1C9;
}

.app{
    background: #D8D7D5;
    border-radius: 10px;
    height: 60px;
    width: 60px;
    border: 15px solid #C5C6C4;
}

.select-app{
    border: 15px solid #9e9e9e;
}

.container-EH-info-app{
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.25s ease;
}

.container-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-logo{
    height: 210px;
    align-items: center;
    background: #9e9e9e;
    border-radius: 10px 10px 0 0;
}

.info-logo img{
    width: 90px;
    height: 90px;
}

.info-nom{
    background: #cecece;
    border-radius: 0 0 10px 10px;
    height: 35px;
}

.label-action{
    background: #a0a0a0;
    border-radius: 10px 10px 0 0;
    height: 25px;
}
