#UE1-projet-bas{
    display: none;
    flex-direction: column;
    height: 100%;
    padding: 0 5px 0 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

#UE1-projet-haut{
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#projet-name{
    border-bottom: 2px solid black;
    border-radius: 0 0 10px 10px ;
    width: 100%;
    text-align: center;
    height: 20px;
    width: 100%;
    display: inline;
}

.sous-titre-projet{
    border-bottom: solid 1px black;
    display: inline;
    width: 100%;
}

#img-projet {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: none;
    border: solid 1px black;
}

#video-projet {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: none;
    border: solid 1px black;
}