html, body {
    height: 100%;
    margin: 0;
}

.center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#console{
    background-color: #e33d3d;
    height: 600px;
    width: 700px;
}